In [ ]:
# Filter for Australian issuers on a given 13F - didnt find any

In [15]:
import pandas as pd
import requests

url = "https://www.sec.gov/Archives/edgar/data/1422849/000142284825000151/form13fInfoTable.xml"

headers = {
    "User-Agent": "Your Name Contact <daniel.li.sydney@gmail.com>",  # SEC requires real contact info
    "Accept-Encoding": "gzip, deflate",
    "Host": "www.sec.gov"
}

r = requests.get(url, headers=headers)
r.raise_for_status()  # throws if blocked

df = pd.read_xml(r.content)
print(df.head())

      nameOfIssuer titleOfClass      cusip       value shrsOrPrnAmt  \
0        AGCO CORP          COM  001084102     4638693     \n
1         AES CORP          COM  00130H105   164126381     \n
2   API GROUP CORP      COM STK  00187Y100    50381653     \n
3         AT&T INC          COM  00206R102  1308343656     \n
4  ATS CORPORATION          COM  00217Y104    38143771     \n

  investmentDiscretion otherManager votingAuthority
0                 DFND         1, 2        \n
1                 DFND         1, 2        \n
2                 DFND         1, 2        \n
3                 DFND         1, 2        \n
4                 DFND         1, 2        \n

In [16]:
df

,nameOfIssuer,titleOfClass,cusip,value,shrsOrPrnAmt,investmentDiscretion,otherManager,votingAuthority
0,AGCO CORP,COM,001084102,4638693,\n,DFND,"1, 2",\n
1,AES CORP,COM,00130H105,164126381,\n,DFND,"1, 2",\n
2,API GROUP CORP,COM STK,00187Y100,50381653,\n,DFND,"1, 2",\n
3,AT&T INC,COM,00206R102,1308343656,\n,DFND,"1, 2",\n
4,ATS CORPORATION,COM,00217Y104,38143771,\n,DFND,"1, 2",\n
...,...,...,...,...,...,...,...,...
575,NEWAMSTERDAM PHARMA COMPANY,ORDINARY SHARES,N62509109,151901700,\n,DFND,"1, 2",\n
576,COPA HOLDINGS SA,CL A,P31076105,498525351,\n,DFND,"1, 2",\n
577,MAKEMYTRIP LIMITED MAURITIUS,SHS,V5633W109,121504612,\n,DFND,"1, 2",\n
578,ROYAL CARIBBEAN GROUP,COM,V7780T103,5583345336,\n,DFND,"1, 2",\n
579,FLEX LTD,ORD,Y2573F102,4336750,\n,DFND,"1, 2",\n

In [20]:
df[df["nameOfIssuer"].str.contains("AUS", case=False, na=False)]

Empty DataFrame
Columns: [nameOfIssuer, titleOfClass, cusip, value, shrsOrPrnAmt, investmentDiscretion, otherManager, votingAuthority]
Index: []

In [21]:
df[df['nameOfIssuer'].str.contains('ADR', case=False, na=False)]

Empty DataFrame
Columns: [nameOfIssuer, titleOfClass, cusip, value, shrsOrPrnAmt, investmentDiscretion, otherManager, votingAuthority]
Index: []

In [22]:
df[df['nameOfIssuer'].str.contains('BHP', case=False, na=False)]

Empty DataFrame
Columns: [nameOfIssuer, titleOfClass, cusip, value, shrsOrPrnAmt, investmentDiscretion, otherManager, votingAuthority]
Index: []